body {
  background-color: #F2F1EF;
/*  background-color: black;*/
  margin: 0;
  padding: 0;
}

#search-container {
  padding-top: 45px;
  padding-bottom: 45px;
}

#main-container {
  padding-left: 0;
  padding-right: 0;
}

#venue-container {
  padding-left: 0px;
  padding-right: 0px;

  width: 370px;
  height: 300px;
  overflow: scroll;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#venue-info {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
/*  width: 7px;*/
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
/*  border: 2px solid white;*/
}

::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px;
}

/*#map {
  width: 636px;
  height: 300px;
  margin: 0 auto;
}*/