*:focus {
    outline: 0 !important;
}

body {
  background-color: #464646;
  margin: 0;
  padding: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#search-container {
  padding-top: 45px;
  padding-bottom: 45px;
}

#venue-column {
  padding-left: 0px;
  padding-right: 0px;

  width: 370px;
  height: 300px;
  overflow: scroll;
}

#map-column {
  padding-left: 0;
  padding-right: 0;
}

#venue-repeat {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
}

/*======= Button Styling ============*/

#main-button {
  background-color: #464646;
  border: .1em solid #de4f4f;
}

#main-button:hover {
  color: #ffffff;
  background: #DE4F4F;
  -webkit-transition: color .55s;
  -moz-transition:    color .55s;
  -ms-transition:     color .55s;
  -o-transition:      color .55s;
  /*transition:         color .55s;
  transition-duration: .55s;
  -webkit-transition-duration: .55s;
  -moz-transition-duration: .55s;*/
}

.btn-sample { 
  color: #ffffff; 
  background-color: #464646; 
  border-color: #DE4F4F;
}

/*======= Form Styling ============*/

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: rgba(70, 70, 70, 1);
  box-shadow: 0 1px 1px rgba(222, 79, 79, 1) inset, 0 0 8px rgba(222, 79, 79, 1);
}

/*======= Scroll Bar Styling ============*/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  /*border: 2px solid white;*/
}

::-webkit-scrollbar-track { 
  background-color: #fff; 
  /*border-radius: 8px;*/
}

/*======= Map Styling ============*/

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}